* {
  font-family: "Source Serif 4", serif;
  margin: 0;
  padding: 0;
}

.nav-content {

  width: 100%;
  height: 44px;
  z-index:5;
  font-size: 17px;
  padding-top: 0;
  padding-bottom: 0;
  background: rgba(255, 255, 255, 0.8);
  backdrop-filter: saturate(180%) blur(20px);
  position: fixed;
  top: 0;
}
body {
  padding-top: 44px;
}
.nav-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1024px;
  margin: 0 auto;

}

.height{
  height:44px;
}

.li-content {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.8);
  font-size: 1em;
  font-weight: 400;
}

.svg-nav {
  display: block;
  box-sizing: border-box;
  height: 44px;

}
.ham-icon{
  display:none;
  height: 44px;
  box-sizing: border-box;
}

.title {
  font-size: 56px;
}

.mt-58 {
  height: 33px;
  margin-top: 58px;
  font-size: 40px;
  line-height: 1.1;
  width: 88%;
  max-width: 430px;
  text-align: center;
  display: block;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}
.mt-17 {
  height: 36px;
  margin-top: 17px;
}
.headline {
  margin-top: 59px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  display: block;
  height: 53px;
  text-align: center;
  width: 88%;
  max-width: 430px;
  font-weight: 600;
}

.subtitle {
  font-size: 24px;
  margin-top: 15px;
}
.subhead {
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  width: 88%;
  max-width: 290px;
  margin-top: 9px;
  font-size: 21px;
  line-height: 1.19048;
  font-weight: 400;
}
.subhead2 {
  margin-top: 10px;
  max-width: 315px;

  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  width: 88%;

  font-size: 21px;
  line-height: 1.19048;
  font-weight: 400;
}
.links {
  margin-top: 15px;
  display: inline-block;
}

.buttons {
  font-size: 17px;
  line-height: 1.17648;
  font-weight: 400;
  border-style: solid;
  border-width: 1px;
  min-width: 28px;
  padding: 7px 15px;
  border-radius: 980px;
  color: #fff;
  border-color: #06c;
  text-decoration: none;
}

.button-primary {
  color: #fff;
  background: #0071e3;
}

.button-secondary {
  margin-left: 10px;
  background: rgba(0, 0, 0, 0);
  color: #06c;
  border-color: #06c;
}
.dark-button-secondary {
  margin-left: 10px;
  color: #2997ff;
  border-color: #2997ff;
  background: rgba(0, 0, 0, 0);
}



/* first panel css  */
.callout {
  margin-top: 15px;
  color: #6e6e73;
  font-size: 21px;
  line-height: 1.19048;
  font-weight: 400;
}
.content {
  width: 100%;
  background: #f5f5f7;
  margin: 0 auto;
  height: 580px;
  position: relative;
}

.content-wrapper {
  text-align: center;
  display: flex;
  flex-direction: column;
  height: 464px;
  padding-top: 47px;
  padding-bottom: 47px;
}
.flex-end {
  justify-content: flex-end;
}
.pt-47 {
  padding-top: 47px;
}
.pb-8 {
  padding-bottom: 8px;
}



.apple-vision-pro-logo {
  height: 46px;
  background: url(https://www.apple.com/v/home/bo/images/logos/apple-vision-pro/hero_logo_apple_vision_pro__ea9qv4w4cngy_large.png)
    no-repeat center center;
}
.vision-pro-image {
  background: url(https://www.apple.com/v/home/bo/images/heroes/apple-vision-pro/hero_apple_vision_pro_alt_preorder__cyk8dfy10vcm_large_2x.jpg)
    no-repeat center center;
  background-size: cover;
}

/* second panel css  */
.unit-image-wrapper {
  display: flex;
  flex-direction: column;
   padding-top: 47px;
  z-index: 4;
  position: relative;
    height: 464px;
 }

.bubbles-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.bubble-texts {
  color: white;
  padding: 10px;
  box-sizing: border-box;
  line-height: 1;
}

.bubble1 {
  display: flex;
  flex-direction: column;
  z-index: 1;
  rotate: -5deg;
  width: 346px;
  left: -3px;
  position: relative;


}
.bubble1 p{
    
    font-size: 112px;
    max-width: 80%;
  
}

.bubble2 {
  z-index: 3;
  rotate: -2deg;
  width: 264px;

  left: 61px;
  top: -10px;
  position: relative;


}
.bubble2 p {
    font-size: 35px;
    font-weight: 600;
  }

.bubble3 {
  z-index: 2;
  rotate: 4deg;
  width: 314px;
  left: 52px;
  top: -10px;
  position: relative;

}
.bubble3 p{
     font-size: 80px;
    font-weight: 600;

}
sup{
    vertical-align: top;
    position: static;
}

.bubble4 {
  fill: #e1dfe5;
  width: 248px;
  top: 12px;
  left: 6px;
  position: relative;

}
.bubble4 p{
   
    font-size: 36px;
    color: #1d1d1f;
    font-weight: 600;
  
}

.svg-bubbles {
  fill: #007aff;
}
.stroke {
  stroke: #f5f5ed;
  stroke-width: 3;
}

.heart-icon {
  top: -22px;
  left: -13px;
  position: absolute;
  transform: translatex(-50%);
}
.heart-image {
  width: 88px;
  height: 95px;
  background-image: url(https://www.apple.com/v/home/bo/images/heroes/bts-2024/hero_tapback_heart__fyumvc1lhniy_large.png);
}

.mba-icon {
  top: -24px;
  right: -125px;
  position: absolute;
  transform: translatex(-50%);
}
.mba-image {
  width: 161px;
  height: 153px;
  background-image: url(https://www.apple.com/v/home/bo/images/heroes/bts-2024/hero_sticker_mba__b0ht7774wpaq_large.png);
}

.ipad-icon {
   
  
  z-index: 3;
  bottom: -144px;
  left: -10px;
  position: absolute;
  transform: translatex(-50%);
}
.ipad-image {
    width: 174px;
    height: 184px;
  background-repeat: no-repeat;
  background-image: url(https://www.apple.com/v/home/bo/images/heroes/bts-2024/hero_sticker_ipadair__bk6ffplndvte_large.png);

}

.gift-icon {
  top: 13px;
  right: -118px;
  position: absolute;
  transform: translatex(-50%);
}
.gift-card {
  width: 104px;
  height: 110px;
  background-image: url(https://www.apple.com/v/home/bo/images/heroes/bts-2024/hero_sticker_giftcard__d13z4bhzszcm_large.png);
}

.exclamation-icon {
  z-index: 3;
  top: -12px;
  right: -11px;
  position: absolute;
  transform: translatex(-50%);
}
.exclamation-image {
  width: 30px;
  height: 30px;
  background-image: url(https://www.apple.com/v/home/bo/images/heroes/bts-2024/hero_tapback_exclamation__cxgmsdb0hkia_large.png);
}
.shop-button {
  color: #2997ff;
  background: white;
  top: 31px;
  position: relative;

}

/* third panel css  */
.ai-image {
  background: url(https://www.apple.com/v/home/bo/images/heroes/apple-intelligence/hero_ai__fsutbxvuni62_large_2x.jpg)
    no-repeat center center;
  background-size: cover;
}

.mb-12 {
  margin-bottom: 12px;
}

/* flex-collection css */

.macbook-image {
  background: url("https://www.apple.com/v/home/bo/images/heroes/macbook-air-m3/hero_macbook_air_m3__cp4t7pn8zqaa_large_2x.jpg")
    no-repeat center center;
  background-size: cover;
}
.ipadPro-image {
  background: url(https://www.apple.com/v/home/bo/images/promos/ipad-pro/promo_ipadpro__ch217v9v7no2_large_2x.jpg)
    no-repeat center center;
  background-size: cover;
}
.iphone15-image {
  background: url(https://www.apple.com/v/home/bo/images/promos/iphone-15/promo_iphone15_announce__fmxxi8r9fkuy_large_2x.jpg)
    no-repeat center center;
  background-size: cover;
}
.watch-logo {
  background: url(https://www.apple.com/v/home/bo/images/logos/apple-watch-series-9/promo_logo_apple_watch_series_9__ckz0hbex0yeu_large.png)
    no-repeat center center;
  background-position: center;
}
.apple-watch-image {
  background: url(https://www.apple.com/au/home/images/promos/apple-watch-series-9/promo_apple_watch_series_9_order__b3u85rm9zf6u_large_2x.jpg)
    no-repeat center center;
  background-size: cover;
}

.apple-card-logo {
  background: url(https://www.apple.com/v/home/bo/images/logos/apple-card/logo__dcojfwkzna2q_large.png)
    no-repeat center center;
  background-position: center;
}
.apple-card-image {
  background: url(https://www.apple.com/v/home/bo/images/promos/apple-card/promo_apple_card__5cm7draujpey_large_2x.jpg)
    no-repeat center center;
  background-size: cover;
}
.tradein-logo {
  height: 32px;
  background: url(https://www.apple.com/v/home/bo/images/logos/iphone-tradein/logo_tradein__d1fpktgipvki_large.png)
    no-repeat center center;
  background-position: center;
}
.tradein-image {
  background: url(https://www.apple.com/v/home/bo/images/promos/iphone-tradein/promo_iphone_tradein__bugw15ka691e_large_2x.jpg)
    no-repeat center center;
  background-size: cover;
}
.fs-40 {
  font-size: 40px;
  margin-top: 53px;
  font-weight: 600;
}
.fs-21 {
  font-size: 21px;
  font-weight: 400;
  margin-top: 4px;
}

.wrapper {
  text-align: center;
  display: flex;
  flex-direction: column;

}

.theme-dark {
  color: white;
}

.flex {
  display: flex;

}
.border-12{
border-bottom:12px  solid #fff;
}

.wrap {
  flex-wrap: wrap;
    padding:0 12px; 
     gap: 12px; 
  
}
.w-50 {
  width: calc(50% - 12px);
  box-sizing: border-box;
}

.pt-20{
  padding-top:20px;
}



.global-footer  {
    background: rgb(245, 245, 247);
    color:rgba(0, 0, 0, 0.56);
    font-size: 1em;
}

.color-rgb{
    color: rgba(0, 0, 0, 0.72)
}
.footer-contents{
   
    max-width: 1024px;
     margin: 0 auto;
    padding: 0 22px;
}

ul, li, a{
 list-style: none;
  text-decoration:none;
  margin: 0;

}
.text-ul{
  text-decoration:underline;
}

.footer-notes{
  
    border-bottom: 1px solid rgba(0, 0, 0, 0.16);
    padding: 17px 0 11px;
 

}
.footer-notes,li{
    
    font-size:12px;
    line-height: 1.3333733333;
    font-weight: 400;
    letter-spacing: -0.01em;

  
}


 .footer-notes small {
    font-size: 1em;
}

.footer-nav-directory{
  flex-wrap:nowrap;
  display:flex;
  font-size:12px;
  justify-content:space-between;
  margin:0;
  line-height: 1.3333733333;
   font-weight: 400;
   letter-spacing: -0.01em;

  
}

.flex-basis-25{
/*  we could have used width for the same result but flex-basis for more responsiveness */
  flex-basis: 25%;
}

.title-nav{
  color:rgba(0, 0, 0, 0.88)
  margin-block-start: 1em;
  margin-block-end: 1em;
}

.nav-ul{
      list-style: none;
      margin-inline-end: 20px;

}
.nav-ul,li{
  padding-bottom:.8em;
 
}
.flex-basis-25,li,a{
   color: rgba(0, 0, 0, 0.56);
}
   

.f-bottom{
   padding-top:37px;
    border-top: none;
    padding-bottom:11px;
    height:98px;
    font-size:12px;
}

.footer-shop{
  margin-bottom:16px;
  padding-bottom:19px;
  border-bottom:1px solid  rgba(0, 0, 0, 0.16);


}
.country{
  float:right;
   margin-top: 5px;
    position: relative;
    top: -3px;
    z-index: 2;
      white-space: nowrap;
}


.footer-legal{
  position: relative;
    top: -3px;
    z-index: 1;
  


}
.copyright{
  float:left;
    margin-inline-end: 30px;
    margin-top: 5px;
    list-style-type: none;
}

.footer-links{ 
   float:left;
    margin-inline-end: 30px;
    margin-top: 5px;
    list-style-type: none;
    
    position: relative;
    top: -5px;
    margin-inline-start: 0;
    z-index: 1;
}

 .footer-li{
    float:none;
    position: relative;
    margin-inline-end: 6px;
    display: inline-block;
    margin-top: 5px;
    font-size: 1em;

} 
 .footer-link{
       padding-inline-end: 9px;
    display: inline-block;
    white-space: nowrap;
} 


.color-blue{
  color:rgb(0, 102, 204);

}

.footer-li:not(:last-child):after {

    content: "";
    position: absolute;
    height: 10px;
    width: 1px;
    background-color: rgba(0, 0, 0, 0.48);
    margin: 3px 0;

}
.footer-button-title{
    border: none;
    display: none;
    text-align: start;
}




@media only screen and (max-width: 833px){
 
   .nav-wrapper li {
    display: none; 
  }
  .height{
  height:48px;
}
/*   > used to target direct childrens */
  .nav-wrapper > li:first-child,
  .nav-wrapper > li:nth-child(13),
   .nav-wrapper > li:nth-child(14),
   .nav-wrapper > li:last-child { 
    position:absolute;
    display: block;
  }
  .nav-wrapper > li:first-child{
    left:5px;
 
  }
  .nav-wrapper > li:nth-child(13){
    right:70px;

  }
  .nav-wrapper > li:nth-child(14){
     right:40px;
  }
 
  .nav-wrapper > li:last-child { 
    right:5px;
  }
  .ham-icon{
    display:block;
  }

  .fs-40,
  .title,
  .headline{
    font-size:32px;
  
  }
  .fs-21,
  .subtitle{
    font-size:19px;
  }


  .footer-notes span{
    display:none;
  }
  .nav-ul{
    display:none;
  }
  

  .shop-button {
  top: 35px;
  position: relative;
 
}
  .ai-image {
  background: url(https://www.apple.com/v/home/bo/images/heroes/apple-intelligence/hero_ai__fsutbxvuni62_medium.jpg)
    no-repeat center center;
  background-size: cover;
}
  .callout {
  margin-top: 10px;

  font-size: 19px;

}


  
  .footer-nav-directory{
  flex-direction:column;
}
  .flex-basis-25{
  flex-basis: auto;
}
  
  .hide{
    display:none;
  }

  .footer-links{ 
  left:0px;

}

  .footer-button-title{
    
        display: block;
        margin: 0;
        width: 100%;
        border-bottom: 1px solid rgba(0, 0, 0, 0.16);
        padding-bottom: 10px;
        background: rgb(245, 245, 247);
        cursor: pointer;
        position: relative;
        z-index: 2;
  }
 
  .arrow-icon{
        color:  rgba(0, 0, 0, 0.88);
        float:right;
  }
  .f-bottom{
        padding-top: 10px;

}
  .footer-shop{
         margin-bottom: 8px;
        padding-bottom: 8px;
        border-bottom: none;
    }
  
  .country{
  float:none;
  padding-top:4px;
 
}
  .footer-links{
  float:none;

}
  .footer-legal{
    padding-top:12px;

  }
  
  
}

@media only screen and (max-width: 734px){
  
  .w-50{
    width:100%;
  }
  .pt-47{
    padding-top:37px;
  }
  .subtitle {
    margin-top:4px;
  }
  .mt-4{
   margin-top:4px;
  }
  

.bubble1 {
  width: 247px;
  left: -10px;
}

.bubble2 {
  width: 192px;
  left: 33px;
}
.bubble3 {
 width: 225px;
 left: 38px;


} 
.bubble4 {
  width: 179px;
  top: 4px;
}
 
  
.heart-icon {
   top: -13px;
  left: -8px;

}
.heart-image {
        width: 62px;
        height: 68px;
          background-size: 62px 68px;
  background-image: url(
https://www.apple.com/v/home/bo/images/heroes/bts-2024/hero_tapback_heart__fyumvc1lhniy_small.png
  )
    no-repeat;
}
  
.mba-icon {
  top: -16px;
  right: -86px;
}
.mba-image {
        width: 110px;
        height: 106px;
        background-size: 110px 106px;
        background-repeat: no-repeat;
  background-image: url(https://www.apple.com/v/home/bo/images/heroes/bts-2024/hero_sticker_mba__b0ht7774wpaq_small.png
  );
}
  
.ipad-icon {
    bottom: -100px;
    left: 5px;
}
.ipad-image {
   width: 118px;
   height: 125px;
   background-size: 118px 125px;
  background-repeat: no-repeat;
  background-image: url(https://www.apple.com/v/home/bo/images/heroes/bts-2024/hero_sticker_ipadair__bk6ffplndvte_small.png);

}

.gift-icon {
  top:20px;
 right: -64px;

}
.gift-card {
       
  width: 65px;
  height: 68px;
  background-size: 65px 68px;
  background-image: url(https://www.apple.com/v/home/bo/images/heroes/bts-2024/hero_sticker_giftcard__d13z4bhzszcm_small.png)
   ;
}
.exclamation-icon {

  top: -8px;
  right:-8px;

}
.exclamation-image {
        width: 19px;
        height: 19px;
        background-size: 19px 19px;
  background-image: url(https://www.apple.com/v/home/bo/images/heroes/bts-2024/hero_tapback_exclamation__cxgmsdb0hkia_small.png)
    no-repeat;
}
  
 .content {
  height: 500px;
} 
  

  .pt-47{
    padding-top:0;
  }
 .apple-vision-pro-logo {
     
  background: url(https://www.apple.com/v/home/bo/images/logos/apple-vision-pro/hero_logo_apple_vision_pro__ea9qv4w4cngy_small.png)
    no-repeat center center;
}
  .vision-pro-image {
  background: url(https://www.apple.com/v/home/bo/images/heroes/apple-vision-pro/hero_apple_vision_pro_alt_preorder__cyk8dfy10vcm_small.jpg)
    no-repeat center center;
  background-size: cover;
} 
  .links {
  margin-top: 17px;

}

  .ai-image {
  background: url(https://www.apple.com/v/home/bo/images/heroes/apple-intelligence/hero_ai__fsutbxvuni62_small.jpg)
    no-repeat center center;
  background-size: cover;
}
  
 
  .ipadPro-image {
  background: url(https://www.apple.com/v/home/bo/images/promos/ipad-pro/promo_ipadpro__ch217v9v7no2_small.jpg)
    no-repeat center center;
  background-size: cover;
}
  .iphone15-image {
  background: url(https://www.apple.com/v/home/bo/images/promos/iphone-15/promo_iphone15_announce__fmxxi8r9fkuy_small.jpg)
    no-repeat center center;
  background-size: cover;
}
  .macbook-image {
  background: url("https://www.apple.com/v/home/bo/images/heroes/macbook-air-m3/hero_macbook_air_m3__cp4t7pn8zqaa_small.jpg")
    no-repeat center center;
  background-size: cover;
}
  .watch-logo {
  background: url(https://www.apple.com/v/home/bo/images/logos/apple-watch-series-9/promo_logo_apple_watch_series_9__ckz0hbex0yeu_small.png)
    no-repeat center center;
  background-position: center;
}
  .apple-watch-image {
  background: url(https://www.apple.com/au/home/images/promos/apple-watch-series-9/promo_apple_watch_series_9_order__b3u85rm9zf6u_small.jpg)
    no-repeat center center;
  background-size: cover;
}
  .apple-card-logo {
  background: url(https://www.apple.com/v/home/bo/images/logos/apple-card/logo__dcojfwkzna2q_small.png)
    no-repeat center center;
  background-position: center;
}
  .apple-card-image {
  background: url(https://www.apple.com/v/home/bo/images/promos/apple-card/promo_apple_card__5cm7draujpey_small.jpg)
    no-repeat center center;
  background-size: cover;
}
  .tradein-logo {
  height: 32px;
  background: url(https://www.apple.com/v/home/bo/images/logos/iphone-tradein/logo_tradein__d1fpktgipvki_small.png)
    no-repeat center center;
  background-position: center;
}
  .tradein-image {
  background: url(https://www.apple.com/v/home/bo/images/promos/iphone-tradein/promo_iphone_tradein__bugw15ka691e_small.jpg)
    no-repeat center center;
  background-size: cover;
}
}

